.stay-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.stay-container p {
  font-family: "Raleway", sans-serif;
}

.stay-img {
  width: 100%;
  background-image: radial-gradient(
      ellipse at center,
      rgba(19, 57, 94, 0.6) 0%,
      rgba(213, 220, 226, 0) 69%,
      rgba(255, 255, 255, 0.3) 84%
    ),
    url(./img/landingroom.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

.stay-img h3 {
  align-items: center;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4.5vw;
  font-weight: 400;
  color: white;
  font-family: "biorhyme", sans-serif;
}

.stay-cards {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2%;
}

.stay-cards .stay-card {
  display: flex;
  justify-content: space-between;
  width: 70%;
  border: solid black 2px;
  margin-top: 2%;
  color: rgb(133, 93, 93);
  background-color: rgba(248, 230, 230, 0.4);

  /* border: 2px solid red; */
}

/* -------------------------------------------- */
.stay-cards .stay-card .stay-card-img {
  display: flex;

  justify-content: flex-end;
  width: 50%;
  /* border: 5px solid blue; */
}

.stay-cards .stay-card .stay-card-img a {
  width: 60%;
  /* width: 100%; */
  display: flex;

  /* border: 5px solid green; */
}

/* ------------------------------------------------------------- */
.stay-cards .stay-card .stay-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* contain */
}

.stay-cards .stay-card .stay-card-img img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.stay-cards .stay-card .stay-card-text {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  /* border: 2px solid yellow; */
}

.stay-cards .stay-card .stay-card-text .stay-card-text-inner {
  width: 73%;
  padding: 3%;
}

.stay-cards .stay-card .stay-card-text .stay-card-text-inner h2 {
  font-family: "biorhyme", sans-serif;

  font-size: 1.5vw;
  font-weight: 600;
}

.stay-cards .stay-card .stay-card-text .stay-card-text-inner p {
  /* font-size: 1.5vw; */
  font-family: "Raleway", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  padding-top: 1%;
}

/* -----------------this part is added  -4-12-2022-------------- */

.btn-stay-card {
  padding: 3%;
  background-color: rgba(133, 93, 93, 0.4);
  font-family: "biorhyme", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  border: none;
  outline: none;
  color: antiquewhite;
  margin-top: 5%;
  padding: 5%;
}

.btn-stay-card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

/* 
-------------------------------------media query------------------------------- */
@media only screen and (max-width: 800px) {
  .stay-cards .stay-card {
    width: 100%;
    flex-direction: column;
  }
  .stay-cards .stay-card .stay-card-img {
    width: 100%;
  }
  .stay-card .stay-card-img #stay {
    width: 100%;
  }

  .stay-cards .stay-card .stay-card-text {
    width: 100%;
  }

  .stay-cards .stay-card .stay-card-text .stay-card-text-inner {
    width: 100%;
  }
  .stay-cards .stay-card .stay-card-text .stay-card-text-inner h2 {
    font-size: 2vw;
  }
  .stay-cards .stay-card .stay-card-text .stay-card-text-inner p {
    font-size: 1.8vw;
  }
  .btn-stay-card {
    padding: 2%;
    font-size: 1.8vw;
  }
}
