.App {
  text-align: center;
}

.main-wrapper {
  padding-top: 140px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  width: 100px;
}

img .hotel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
