/* Media Query for small mobile devices */
@media only screen and (min-width:320px){
  .containerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .tableIgloosView-img {
    width: 100%;
    background-image: radial-gradient(
        ellipse at center,
        rgba(19, 57, 94, 0.6) 0%,
        rgba(213, 220, 226, 0) 69%,
        rgba(255, 255, 255, 0.3) 84%
      ),
      url(./img/tableIgloosView.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
  }

  .tableIgloosView-img h3 {
    align-items: center;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: white;
    font-family: "biorhyme", sans-serif;
  }

  .cardsMenu {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .cardsMenu .cardMenu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 1rem;
    color: rgb(133, 93, 93);
    background-color: rgba(248, 230, 230, 0.4);
  }

  .cardsMenu .cardMenu .card-menu-img {
    display: flex;
    justify-content: flex-end;
    width: 150px;
  }

  .cardsMenu .cardMenu .card-menu-img a {
    width: 100%;
    display: flex;
  }

  .cardsMenu .cardMenu .card-menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cardsMenu .cardMenu .card-menu-text {
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner {
    width: 73%;
    padding: 3%;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner h2 {
    font-family: "biorhyme", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner p {
    font-family: "raleway", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    padding-top: 1rem;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner h3 {
    font-family: "Raleway", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    padding-top: 1rem;
  }
}

/* Media Query for medium mobile devices */
@media only screen and (min-width: 481px) {
  .containerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .tableIgloosView-img {
    background-image: radial-gradient(
        ellipse at center,
        rgba(19, 57, 94, 0.6) 0%,
        rgba(213, 220, 226, 0) 69%,
        rgba(255, 255, 255, 0.3) 84%
      ),
      url(./img/tableIgloosView.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
  }

  .tableIgloosView-img h3 {
    align-items: center;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-family: "biorhyme", sans-serif;
  }

  .cardsMenu {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .cardsMenu .cardMenu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 1rem;
    color: rgb(133, 93, 93);
    background-color: rgba(248, 230, 230, 0.4);
  }

  .cardsMenu .cardMenu .card-menu-img {
    display: flex;
    justify-content: flex-end;
    width: 150px;
  }

  .cardsMenu .cardMenu .card-menu-img a {
    width: 100%;
    display: flex;
  }

  .cardsMenu .cardMenu .card-menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cardsMenu .cardMenu .card-menu-text {
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner {
    width: 73%;
    padding: 3%;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner h2 {
    font-family: "biorhyme", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner p {
    font-family: "raleway", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    padding-top: 1rem;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner h3 {
    font-family: "Raleway", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    padding-top: 1rem;
  }
} 

/* Media Query for Middle size screens */
@media only screen and (min-width: 769px)  {
  .containerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .tableIgloosView-img {
    width: 100%;
    background-image: radial-gradient(
        ellipse at center,
        rgba(19, 57, 94, 0.6) 0%,
        rgba(213, 220, 226, 0) 69%,
        rgba(255, 255, 255, 0.3) 84%
      ),
      url(./img/tableIgloosView.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tableIgloosView-img h3 {
    align-items: center;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
   
    font-size: 25px;
    font-weight: 400;
    color: white;
    font-family: "biorhyme", sans-serif;
  }

  .cardsMenu {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .cardsMenu .cardMenu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    border: solid black 2px;
    margin-top: 2rem;
    color: rgb(133, 93, 93);
    background-color: rgba(248, 230, 230, 0.4);
  }

  .cardsMenu .cardMenu .card-menu-img {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .cardsMenu .cardMenu .card-menu-img a {
    width: 70%;
    display: flex;
  }

  .cardsMenu .cardMenu .card-menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cardsMenu .cardMenu .card-menu-img img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }

  .cardsMenu .cardMenu .card-menu-text {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner {
    width: 73%;
    padding: 3%;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner h2 {
    font-family: "biorhyme", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner p {
    font-family: "raleway", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 1rem;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner h3 {
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 1rem;
  }
}

/* Media Query for Big screens */
@media screen and (min-width: 1025px) {

  .containerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .containerMenu p {
    font-family: "Raleway", sans-serif;
  }

  .tableIgloosView-img {
    width: 100%;
    background-image: radial-gradient(
        ellipse at center,
        rgba(19, 57, 94, 0.6) 0%,
        rgba(213, 220, 226, 0) 69%,
        rgba(255, 255, 255, 0.3) 84%
      ),
      url(./img/tableIgloosView.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
  }

  .tableIgloosView-img h3 {
    align-items: center;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    color: white;
    font-family: "biorhyme", sans-serif;
  }

  .cardsMenu {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .cardsMenu .cardMenu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    border: solid black 1px;
    margin-top: 2rem;
    color: rgb(133, 93, 93);
    background-color: rgba(248, 230, 230, 0.4);
  }

  .cardsMenu .cardMenu .card-menu-img {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .cardsMenu .cardMenu .card-menu-img a {
    width: 60%;
    display: flex;
  }

  .cardsMenu .cardMenu .card-menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cardsMenu .cardMenu .card-menu-img img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }

  .cardsMenu .cardMenu .card-menu-text {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner {
    width: 73%;
    padding: 3%;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner h2 {
    font-family: "biorhyme", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner p {
    font-family: "raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 1rem;
  }

  .cardsMenu .cardMenu .card-menu-text .card-menu-text-inner h3 {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 1rem;
  }
}